h2{
    text-align: center;
}
.ali{
    color: brown;
    background-color: yellow;
    width: 200px;
    font-size: 30px;
}
.hesen{
    color: aquamarine;
    background-color: blueviolet;
}
.nomre{
    color: gold;
    height: 40px;
}
.sifre{
    font-size: 50px;
    background-color: azure;

}
button{
    color: white;
    background-color: blue;
    height: 30px;
    width: 120px;
}
.ali::placeholder{
    color: darkgoldenrod;
}
